body {
    font-family: 'Work Sans', sans-serif;
}

.header {
    background-color: rgba(243, 198, 189, 1);
    padding: 57px 0 58px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    margin-right: 15px;
}

.logo_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header_ul{
    margin-right: 75px;
}

.header_li:not(last-of-type){
    margin-right: 30px;
}

.header_link{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px; 
    text-align: right;
    color: #2B292D;
    text-decoration: none;
    position: relative;
}

.header_link:hover::before{
    transition: 200ms;
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ffae9d;
    bottom: 0;
}

.header_buttom{
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
}

.header_buttom:hover{
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #4c59c5;
    transition: 220ms;
}

.questions{
    background-color: rgba(244, 245, 247, 1);
    padding: 77px 130px 76px;
}

.question{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.answer{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.company {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 55px 130px 150px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.grid2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 22px;
}

.item:nth-child(3), .item:nth-child(4){
    grid-row: span 2;
}
